# Compressed files used for archiving
*.zip
*.pickle
# Personal examples and testing modules
Private/
# Redundant files
lehtihet bib vb/
# Build & Temp files
*.npy
*.spydata
*.pyc
.spyproject/
__pycache__/